 * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

      
        .main-section{
            width: 100%;
            height: 1420px;
            /* border: 2px solid black; */
            /* margin: 10px auto; */
            background-color: seashell;
            
        }

        .navbar{
            width: 100%;
            height: 100px;
            /* border: 2px solid black; */
            background-color: rgb(1, 15, 60);
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .navbar .logo{
            width: 10%;
            height: 80px;
            /* border: 2px solid black; */
            margin: 5px ;
            /* background-color: rgb(42, 12, 113); */
            display: flex;
            justify-content: center;
        }

        .navbar .logo img{
            width: 80px;
            height: 80px;
            border-radius: 40px;
        }

        .navbar .right-side{
            width: 70%;
            height: 80px;
            /* border: 2px solid black; */
            margin: 5px ;
            /* background-color: rgb(42, 12, 113); */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .navbar .right-side p{
            font-size: larger;
            font-weight: 500;
            font-family: sans-serif;
            color: rgb(237, 237, 243);
        }

      .hero-section{
        width: 100%;
        /* margin: 10px auto; */
        /* height: 500px;*/
        height: 85vh;
        /* border: 2px solid black; */
      }

       .hero-section img{
            width:100%;
            height: 100%;
            }

      .boxes{
        width: 100%;
        /* margin: 10px auto; */
        height: 410px;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(29, 41, 78);
      }

      .boxes .box{
        width: 20%;
        height: 250px;
        /* border: 2px solid black; */
        margin: 10px;
        border-radius: 20px;
      }

      .boxes .box img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      

      .footer{
            width: 100%;
            height: 70vh;
            /* border: 2px solid black; */
            /* margin: 10px auto; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgb(12, 21, 50);
      }

      .footer .left{
        width: 40%;
        height: 300px;
        margin: 10px ;
        /* border: 2px solid black; */
        background-color: rgb(12, 21, 50);
        display: flex;
        justify-content: space-between;
        padding: 10px;

      }

      .footer .left h1{
        color: aliceblue;
        margin-bottom: 20px;
      }

      .footer .left p{
        color: #f7f3f3;
        font-family:serif
      }

      

      .footer .left .Our_store p{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }

      

      .footer .right{
       width: 40%;
        height: 300px;
        margin: 10px ;
        /* border: 2px solid black; */
        background-color: rgb(12, 21, 50);
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }

      .footer .right h1{
        color: aliceblue;
        margin-bottom: 20px;
      }

      .footer .right p{
        color: #f7f3f3;
        font-family:serif
        
      }

      .footer .right div{
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .footer .right .services p{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }

      .footer .right .services div p{
        margin: 0px;
      }


        /* For Tab */
       @media (max-width:769px){

        .main-section{
            height: 1500px;
        }

            .navbar{
               height:80px;
            }
            
            .navbar .right-side{
                width: 70%;
                height: 55px;
                font-size: small;
            }

            .navbar .logo{
                width: 10%;
                height: 55px;
            }

            .navbar .logo img{
                width: 55px;
                height: 55px;
                border-radius: 40px;
        }

        .hero-section{
            height: 400px;
        }

        .hero-section img{
            height: 100%;
        }


            .boxes{
                height: 500px;
                flex-wrap: wrap;
                /* flex-flow: row wrap; */
            }

            .boxes .box{
                width: 40%;
                height: 200px;
            }

            .footer{
                height: 600px;
                flex-direction: column;
            }

            .footer .left{
                height: 240px;
                width: 80%;
            }

            .footer .right{
                height: 260px;
                width: 80%;
            }
        }

        /* For Mobile */

        @media (max-width:480px){

            .main-section{
                height: 2000px;
                margin-left: 0px;
                margin-right: 0px;
            }

            .navbar{
                /* flex-direction: column; */
                height: 60px;
            }

            .navbar .logo{
                width: 10%;
                height: 40px;
            }

            .navbar .logo img{
                width: 40px;
                height: 40px;
                border-radius: 40px;
                background-color: rgb(210, 119, 0);
        }


            .navbar .right-side{
                width: 80%;
                height: 40px;
                font-size: 0.5rem;
            }

            .hero-section{
                height: 300px;
                width: 100%;
            }

           

          .boxes {
                height: 1100px;
                flex-direction: column;
                align-items: center;
               width: 100%;
            }

           .boxes .box {
                width: 80%;
                height: 200px;
            }

            .footer{
                flex-direction: column;
                width: 100%;
                height: 500px;
            }

            .footer .left{
                width: 100%;
                height: 250px;
                justify-content: space-between;
            }

            .footer .right{
                width: 100%;
                height: 400px;
                justify-content: space-between;
                grid-row: auto;
            }

           
        }
